.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Press Start 2P", system-ui;
    text-shadow: #00FF00 0px 0px 10px;
    animation: jiggle 2s infinite ease-in-out;
    font-size: 4rem;
    margin-bottom: 5rem;
}

.high-score-menu {
    font-family: "Press Start 2P", system-ui;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.start-button {
    font-family: "Press Start 2P", system-ui;
    font-size: 2rem;
    color: #00FF00;
    text-decoration: none;
    border: 2px solid #00FF00;
    padding: 15px 30px;
    transition: all 0.2s;
}

.start-button:hover {
    background-color: #00FF00;
    color: #000000;
    box-shadow: 0 0 20px 5px #00FF00;
}
@keyframes jiggle {
    0%, 100% {
        transform: rotate(-3deg);
        margin-left: -5%;
    }
    50% {
        transform: rotate(3deg);
        margin-left: 5%;
    }
}

body {
    background-color: #000000;
    color: #00FF00;
    overflow: hidden;
    font-family: "Press Start 2P", system-ui;
}

/* --- General Mobile Styles --- */
@media (max-width: 768px) {
    @keyframes jiggle {
        0%, 100% {
            transform: rotate(-2deg);
        }
        50% {
            transform: rotate(2deg);
        }
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 3rem;
        word-break: break-all;
    }
    .high-score-menu {
        font-size: 1.5rem;
    }
    .start-button {
        font-size: 1.8rem;
        padding: 15px 25px;
    }
}

/* --- Specific Mobile Styles for smaller devices --- */
@media (max-width: 400px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 2rem;
    }
    .high-score-menu {
        font-size: 1rem;
    }
    .start-button {
        font-size: 1.5rem;
        padding: 12px 20px;
    }
}

/* --- Specific Mobile Styles for very small devices --- */
@media (max-width: 340px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.3rem;
    }
    .high-score-menu {
        font-size: 0.75rem;
    }
    .start-button {
        font-size: 1rem;
        padding: 10px 15px;
    }
}